/* default css */

 body{
    background-color:white;
    font-family: Arial, Verdana, sans-serif;
    margin:0;
    padding:0;
 }

 #wrapper{
    width:800px;
    margin:10px auto;
    padding:10px;
    background-color:#e4deae;
    border:2px solid #efdda8;
 }
 
 h1 {
 	font-size:1.2em;
 	color:#14b8b8;
 
 }
 
 h2{
 	font-size:1em;
 	color:#14b8b8;
 }
 
  h3{
 	font-size:.9em;
 	color:#14b8b8;
 }
 
  h4{
  	margin-top:0px;
  	margin-bottom:0px;
 	font-size:.8em;
 	color:#14b8b8;
 }
 
 p,li,td{
 	font-size:.8em;
 }
 
 a,a:link{
 	color:#c98c21;
 	text-decoration:underline;
 
 }
 a:hover{
 	color:#14b8b8;
 }
 
 
 #nav{
    float:left;
    width:135px;
    height:auto;
    border:2px solid #31363E;
 }
 


#nav ul{
	margin: 0;
	padding: 0;
	list-style: none;	
}

#nav ul li.cat{
	background-color:#31363e;
	font-size:1em;
	padding-left:5px;
}

#nav ul li.subcat{
	padding-left:15px;
	font-size:.9em;
}

#nav li.cat a {
	text-decoration: none;
	color: #e4deae;
	border: none;
}

#nav li.subcat a {
	text-decoration: none;
	color: #000;
	border: none;
}
	
	
#nav li.subcat a:hover {
	text-decoration:none;
	color:#14b8b8;
}
#nav li.cat a:hover {
	text-decoration:none;
	color:#14b8b8;
}
 
 #main{
    margin-left:150px;
    width:600px;
    height:auto;

 }

 #header{
    font-size:12px;
    margin-bottom:10px;
 }
 
 #footer{
    clear:both;
    padding-top:40px;
    font-size:9px;
 }


 
 #pleft{
 	float:left;
 	width:400px;
 }
 
 #pleft img{
 	padding-right:10px;
 }
 
 #pright{
 	float:right;
 	height:auto;
 	width:150px;
 	text-align:left;
 	padding-left:5px;
 }
 
 #pright img{
 	padding-right:3px;
 }
 
 .message{
 	border:1px solid #c98c21;
 	background-color:#efdda8;
 	color:#c98c21;
 	padding:5px;
 	width:250px;
 	font-size:12px;
 	margin:5px 0px 5px 0px;
 }
 
 .floatleft{
 	float:left;
 }
 
 .floatright{
 	float:right;
 }
 
 

/* navigation */

#globalnav {
	width: 600px;
	height:30px;
	margin: 2px 0 10px 0;
	padding: 0;
	background: #31363E;
	}
	
#globalnav ul {
	margin: 0;
	padding: 0;
	list-style: none;
	}
	
#globalnav li {
	float: left;
	margin: 0;
	padding: 0;
	font-size: 80%;
	letter-spacing: 2px;
	text-transform: uppercase;
	}
	
#globalnav li a {
	float: left;
	padding: 10px 12px;
	text-decoration: none;
	color: #e7e3d9;
	border: none;
	}
	
	
#globalnav li a:hover {
	color: #e4deae;
	}

#globalnav li form{
	padding:3px 0px;
}

img.thumbnail{
	clear:both;
	float:left;
	margin-right:5px;
	margin-bottom:15px;
}

.productlisting{
	float:left;
	width:70%;
	font-size:.8em;
	margin-bottom:30px;
}
